.ad-list {
    /* margin: 1rem auto; */
    margin-left: 15%;
    padding: 1rem;
    background-color: #f9f9f9; /* Background color for the ad list */
    border: 1px solid #ddd; /* Add a border */
  }
  
  .ad-list h2 {
    font-size: 1.5rem; /* Header font size */
  }
  
  .ad-list ul {
    list-style: none;
    padding: 0;
  }
  
  .ad-list ul li {
    margin-bottom: 1rem;
    border: 1px solid #ccc; /* Add a border to each ad item */
    padding: 1rem;
    background-color: white;
  }
  